/*
 *
 * MMM-Lunch
 *
 * Brian Dorton
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 .MMM-Lunch {
   margin-bottom: 30px !important;
 }

 .MMM-Lunch .header-text {
   text-align: left;
   font-size: 17px;
 }

  td.date-cell {
    width: 90px;
  }

  .MMM-Lunch .date-wrap,
  .MMM-Lunch .meal-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }


  .MMM-Lunch table {
    table-layout: fixed;
    border-collapse:collapse;
  }

  .MMM-Lunch table.half {
    max-width: 500px;
  }

   .MMM-Lunch table td {
    line-height: 1.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .MMM-Lunch table tr {
    border-bottom: solid 1px rgb(218, 214, 214);
  }

  .MMM-Lunch .date {
  color: #AAA;
  white-space: nowrap;
  display: block;
  font-size: 36px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MMM-Lunch .meal {
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    line-height: 1.25;
    padding-left: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 15px;
    text-align: left;
  }
